[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "extern/TinyPE-on-Win10"]
	path = extern/TinyPE-on-Win10
	url = https://github.com/ayaka14732/TinyPE-on-Win10.git
[submodule "extern/brieflz"]
	path = extern/brieflz
	url = https://github.com/jibsen/brieflz.git
